
<div>
       <md-card ng-repeat="title in result>
        <md-card-title>
          <md-card-title-text>
            <h3> Searching Result for: "{{$ctrl.value.Title}}"</h3>
            <span class="md-headline">{{$ctrl.value.Title}}</span>
            <span class="md-subhead">{{$ctrl.valuerole}}</span>
            <span class="md-subhead">{{$ctrl.valueduties}}</span>
            <span class="md-subhead">{{$ctrl.valueskills}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
           <div class="md-media-xl card-media">
          
        
          <!-- <div class="md-media-lg card-media" layout-margin layout-wrap layout-align="center center"><img height="200" width="300" src={{moviePoster}}>
           </div> -->
           </div>

         
       </md-card-content>
       <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
     </md-card> 
  
     </div>