<md-card>
    <md-card-content>
    <h3 class="md-headline">Skills</h3>
     <!-- <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="user in $ctrl.obj" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{user.title}} </h3>
            <h4>{{user.location}}</h4>
            <p>{{user.description}}</p>
          </div>
        </md-list-item> -->
        <div ng-repeat="sk in $ctrl.skill">
           <p>{{sk}} </p>
        </div>
        <md-divider ></md-divider>
         <h3 class="md-headline">Roles & Responsibilities</h3>
         <div ng-repeat="sk in $ctrl.skill">
           <p>{{sk}} </p>
        </div>
        <!-- <div id="dialogContainer" ng-controller="dialogController as ctrl"> -->
           <md-card-actions layout="row" layout-align="end center">
           <div id="dialogContainer" ng-controller="dialogController as ctrl" ng-cloak>
            <md-button class="md-primary md-raised" ng-click="showCustom($event)"  flex=""  flex-gt-md="auto">
               Edit
            </md-button>
            <!-- <div ng-if="status">
               <br/>
               <b layout="row" layout-align="center center" class="md-padding">
                  {{status}}
               </b>
            </div> -->
          </div>
        </md-card-actions>
        <!-- </div> -->
        <md-divider ></md-divider>
      </md-card-content>
    </md-card>     